.portal{
    margin: 0 auto;
    width: 500px;
    padding: 5px 0px;
    border: 5px solid olivedrab;
}

.only-border{
    border: 5px solid olivedrab;
}

.credentials{
    margin: 0 auto;
    width: 400px;
}

.credentials input{
    color: white;
}

.portal button{
    margin: 0px 10px;
}

.olivedrab{
    background: #6B8E23;
}

.signup-col input{
    color: white;
}